<div class="card-view-component">
    <header>
        <a routerLink="/market/cards">
            <i class="fas fa-chevron-left"></i>
            <div>Back</div>
        </a>
    </header>
    <div class="content" *ngIf="!loading">
        <ng-container *ngIf="(card$ | async) as card">
            <div class="img-container">
                <img [src]="card.imageUrlHiRes" />
            </div>
            <div class="infos">
                <h2>{{ card.name }}</h2>
                <div class="infos-item" *ngIf="card.nationalPokedexNumber">
                    <div class="label">N° Pokédex</div>
                    <div class="value">{{ card.nationalPokedexNumber }}</div>
                </div>
                <div class="infos-item">
                    <div class="label">Rarity</div>
                    <div class="value">{{ card.rarity }}</div>
                </div>
                <div class="infos-item" *ngIf="card.evolvesFrom">
                    <div class="label">Evolves from</div>
                    <div class="value">{{ card.evolvesFrom }}</div>
                </div>
                <div class="infos-item">
                    <div class="label">Supertype</div>
                    <div class="value">{{ card.supertype }}</div>
                </div>
                <div class="infos-item" *ngIf="card.types">
                    <div class="label">Types</div>
                    <div class="value">{{ card.types }}</div>
                </div>
                <div class="infos-item" *ngIf="card.subtype">
                    <div class="label">Subtype</div>
                    <div class="value">{{ card.subtype }}</div>
                </div>
                <div class="infos-item" *ngIf="card.hp">
                    <div class="label">HP</div>
                    <div class="value">{{ card.hp }}</div>
                </div>
                <div class="infos-item" *ngIf="card.retreatCost">
                    <div class="label">Retreat Cost</div>
                    <div class="value">{{ card.retreatCost }}</div>
                </div>
                <div class="infos-item" *ngIf="card.artist">
                    <div class="label">Artist</div>
                    <div class="value">{{ card.artist }}</div>
                </div>
                <div class="infos-item">
                    <div class="label">Series</div>
                    <div class="value">{{ card.series }}</div>
                </div>
                <div class="infos-item">
                    <div class="label">Set</div>
                    <div class="value">{{ card.set }}</div>
                </div>

                <section class="attacks" *ngIf="card.attacks">
                    <h3>Attacks</h3>
                    <div class="attack" *ngFor="let attack of card.attacks">
                        <app-attack [attack]="attack"></app-attack>
                    </div>
                </section>

                <section class="ability" *ngIf="card.ability">
                    <h3>Ability</h3>
                    <app-ability [ability]="card.ability"></app-ability>
                </section>

                <section class="weaknesses" *ngIf="card.weaknesses">
                    <h3>Weaknesses</h3>
                    <div class="infos-item" *ngFor="let weakness of card.weaknesses">
                        <div class="label">{{ weakness.type }}</div>
                        <div class="value">{{ weakness.value }}</div>
                    </div>
                </section>
                <section class="resistances" *ngIf="card.resistances">
                    <h3>Resistances</h3>
                    <div class="infos-item" *ngFor="let resistance of card.resistances">
                        <div class="label">{{ resistance.type }}</div>
                        <div class="value">{{ resistance.value }}</div>
                    </div>
                </section>
                <section class="text" *ngIf="card.text">{{ card.text }}</section>
                <section class="actions">
                    <div class="price">{{ card.price | currency:'EUR' }}</div>
                    <button mat-flat-button color="primary" (click)="handleAddClick(card)" *ngIf="!item">Add to cart</button>
                    <div class="counter" *ngIf="item">
                        <app-cart-item-counter [count]="item.count" [cardId]="item.item.id"></app-cart-item-counter>
                    </div>
                </section>
            </div>
        </ng-container>
    </div>
    <div class="loader-container" *ngIf="loading">
        <app-loader></app-loader>
    </div>
</div>