<div class="cards-list-component">
    <header>
        <h2>Market</h2>
        <div class="search">
            <mat-form-field>
                <i matPrefix class="fas fa-search">&nbsp;</i>
                <input #searchBar matInput type="search" placeholder="Search">
            </mat-form-field>
        </div>
    </header>
    <ng-container *ngIf="(filters$ | async) as filters">
        <div class="filters-container">
            <div class="filters-displayer" (click)="toggleFiltersDisplay()">
                <ng-container *ngIf="!filtersDisplayed">
                    <i class="fas fa-plus"></i>
                    <span>Show filters</span>
                </ng-container>
                <ng-container *ngIf="filtersDisplayed">
                    <i class="fas fa-minus"></i>
                    <span>Hide filters</span>
                </ng-container>
            </div>
            <div class="filters" *ngIf="filtersDisplayed">
                <app-cards-list-filters (loadingChange)="setLoading($event)" [filters]="filters"></app-cards-list-filters>
            </div>
        </div>
        <ng-container *ngIf="!loading">
            <ng-container *ngIf="(totalCount$ | async) as totalCount">
                <div class="paginator">
                    <mat-paginator [length]="totalCount" [pageSize]="filters.pageSize" [pageIndex]="filters.page - 1" (page)="handlePageChange($event)">
                    </mat-paginator>
                </div>
                <div class="content">
                    <div class="card" *ngFor="let card of cards$ | async">
                        <app-card-thumbnail [card]="card"></app-card-thumbnail>
                    </div>
                </div>
                <div class="paginator">
                    <mat-paginator [length]="totalCount" [pageSize]="filters.pageSize" [pageIndex]="filters.page - 1" (page)="handlePageChange($event)">
                    </mat-paginator>
                </div>
            </ng-container>
        </ng-container>
    </ng-container>
    <div class="loader-container" *ngIf="loading">
        <app-loader></app-loader>
    </div>
</div>