@import "/src/colors.scss";

.cards-list-component {
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);
    padding: 20px 40px;
    overflow-y: auto;
}

header {
    flex: 0 1 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters-container {
    padding: 8px 12px;
    border-radius: 5px;
    background: rgba($--color-tertiary, 0.3);
    margin-bottom: 16px;
}

.filters-displayer {
    flex: 0 1 0;
    cursor: pointer; 
    width: fit-content;
    padding: 4px 8px;
}

.filters-displayer i {
    margin-right: 8px;
}

.filters {
    margin-top: 12px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.filter-item:not(:first-child) {
    margin-left: 16px;
}

.content {
    flex: 1 1 0;
    display: flex;
    flex-wrap: wrap;
}

.content .card {
    margin: 8px 12px; 
}

.paginator {
    flex: 0 1 0;
}

.loader-container {
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginator {
    flex: 0 1 0;
    width: 100%; 
}


  