
$--color-primary: #ffcb05;
$--color-secondary: #3d7dca;
$--color-tertiary: #003a70;

$--color-grey: #cccccc;

$--color-warning: #ffbb00;
$--color-danger: #dd2727;

$--color-text: #2c2c2c;

$--color-background-white: #ececec; 